<div class="form">
  <div class="container w-50">
    <div class="row justify-content-center form-signup">
      <div class="col-12">
        <h1 class="">EDIT LIST</h1>
        <%= render 'form', list: @list %>
      </div>
    </div>
  </div>
</div>
