.footer {
  background: #000000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  padding: 0px 50px;
  color: rgb(255, 255, 255);
  margin-top: auto;
  width: 100%;
}
.footer-links {
  display: flex;
  align-items: center;
}
.footer-links a {
  color: rgb(255, 255, 255);
  opacity: 0.70;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}
.footer-links a:hover {
  opacity: 2;
  color: #580090;
}

.privacy{
  font-size:14px !important;
  margin: 0px 20px;
}

@media (max-width: 768px) {
  .footer-copyright {
    font-size: 12px;
  }

  .privacy{
    font-size: 12px !important;
    margin: 0 !important;
  }
}
