.footer {
  background: #000000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50px;
  padding: 0px 50px;
  color: rgb(255, 255, 255);
  margin-top: auto;
  position: fixed;
  bottom:0;
  left:0;
  width: 100%;
}
.footer-links {
  display: flex;
  align-items: center;
}
.footer-links a {
  color: rgb(255, 255, 255);
  opacity: 0.70;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}
.footer-links a:hover {
  opacity: 2;
  color: #580090;
}
.footer .fa-guitar {
  color: #580090;
}
