// Specific CSS for your home-page
body {
  font-family: 'Helvetica';
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
  color: rgb(255, 255, 255);

}

.heading-primary-main:hover {
  transform: translate3d(0, -10px, 22px);
  color: #ff0266;
}


.header {
  height: 100vh;
  background-image:
  linear-gradient(to right bottom,
   rgba(88, 0, 144, 0.8),
   rgba(5, 5, 5, 0.8)),
   url('https://img.wallpapersafari.com/desktop/1920/1080/95/88/W9ezN3.jpg');

  background-size: cover;
  background-position: top;
  position: relative;
}

.text-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.heading-primary {
  color: #fff;
  text-transform: uppercase;

  backface-visibility: hidden;
  margin-bottom: 30px;
}

.heading-primary-main {
  display: block;
  font-size: 72px;
  font-weight: 400;
  letter-spacing: 5px;
}

.heading-primary-sub h2{
  display: block;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 7.4px;
}

.btn:link,
.btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 10px 20px;
  display: inline-block;
  border-radius: 100px;
  transition: all .2s;
  position: relative;
}

.btn-home:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.btn:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.btn-white {
  background-color: #000;
  color: #fff;
  font-size: 14px;
}
