<div class="container">
  <h1>Username Library</h1>

  <h1>History</h1>
  <div class="cards">
    <div class="card-folder">
      <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
      <div class="card-folder-infos">
        <div>
          <h2>Title here</h2>
        </div>
      </div>
    </div>

    <div class="card-folder">
      <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
      <div class="card-folder-infos">
        <div>
          <h2>Title here</h2>
        </div>
      </div>
    </div>

    <div class="card-folder">
      <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
      <div class="card-folder-infos">
        <div>
          <h2>Title here</h2>
        </div>
      </div>

    </div>
  </div>

  <h1>Library</h1>
  <div class="cards">
    <div class="card-folder">
      <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
      <div class="card-folder-infos">
        <div>
          <h2>Title here</h2>
        </div>
      </div>
    </div>

    <div class="card-folder">
      <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
      <div class="card-folder-infos">
        <div>
          <h2>Title here</h2>
        </div>
      </div>
    </div>

    <div class="card-folder">
      <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
      <div class="card-folder-infos">
        <div>
          <h2>Title here</h2>
        </div>
      </div>

    </div>
  </div>

  <h1>Favorites</h1>
  <div class="cards">
    <div class="card-folder">
      <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
      <div class="card-folder-infos">
        <div>
          <h2>Title here</h2>
        </div>
      </div>
    </div>

    <div class="card-folder">
      <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
      <div class="card-folder-infos">
        <div>
          <h2>Title here</h2>
        </div>
      </div>
    </div>

    <div class="card-folder">
      <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
      <div class="card-folder-infos">
        <div>
          <h2>Title here</h2>
        </div>
      </div>

    </div>
  </div>

  <h1>Achievements</h1>
  <div class="achievements-cards">
    <div class="achievements-card-folder">
      <img src="/assets/images/monterey.jpg"  alt="monterey guitar">
      <div class="achievements-card-folder-infos">
        <div>
          <p>Jimi Hendrix - Badge Played 20 Solos</p>
        </div>
      </div>
    </div>

    </div>
  </div>
</div>
