<div class="container">
  <h1>Username Library</h1>
  <h2>History</h2>
  <div class="cards">
    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://picsum.photos/200/300?random=1)">
  <h3>Title</h3>
  <p>Text</p>
    </div>
  </div>

</div>
