
<div class="container">
  <div class="index-card">


    <% if params[:query].nil? || params[:query] == "" %>
      <h1>Don't know where to start? Go with Jimi</h1>
    <% elsif %>
      <h1><%= params[:query] %> videos</h1>
    <% end %>
    <div class="cards-index">
      <% @videos.each do |video| %>

        <div class="card-trip-index m-3">
          <img src="<%= video[:image_url_high] %>" />
          <div class="card-trip-infos-index">

            <h2><%= link_to video[:title], video_path(video[:video_id]) %></h2>
          </div>
        </div>

      <% end %>
    </div>
  </div>
</div>
