<div class="container-md"  data-controller="video" data-video-slug-value="<%= @params %>">
  <div class="d-flex">
    <h1>VIDEO</h1>
    <button type="button" class="btn btn-dark btn-lg btn-block" data-video-target="start" data-action="click->video#markStart">Start</button>
    <button type="button" class="btn btn-dark btn-lg btn-block" data-video-target="stop">Stop</button>
  </div>
  <%# DIV PARA O IFRAME DO YOUTUBE %>
  <div id="video-container">
    <div id="player"></div>
  </div>
</div>
