<div class="container-md">
  <div class="d-flex">
    <h1>VIDEO</h1>
    <button type="button" class="btn btn-dark btn-lg btn-block">Start</button>
    <button type="button" class="btn btn-dark btn-lg btn-block">Stop</button>
  </div>
</div>
