<div class="footer">
  <div class="footer-links">
    <a href="https://github.com/felipearosa/riff_along" target="_blank"><i class="fab fa-github"></i></a>
    <a href="https://www.instagram.com/theriffalong/" target="_blank"><i class="fab fa-instagram"></i></a>
  </div>
  <div class="footer-copyright">
    Master you song <i class="fas fa-music"></i> with The RiffAlong
  </div>
</div>


