<div class="footer">
  <div class="footer-links">
    <a href="https://github.com/felipearosa/riff_along" target="_blank"><i class="fab fa-github"></i></a>
    <a href="https://www.instagram.com/theriffalong/" target="_blank"><i class="fab fa-instagram"></i></a>
    <%= link_to 'Privacy Policy', policy_path, class:"privacy" %>
  </div>
  <div class="footer-copyright">
    Master you song <i class="fas fa-music"></i> with The Riff<span class="font-color">ALONG</span>
  </div>
</div>
