<header class="header">
  <div class="text-box">
    <h1 class="heading-primary">
      <span class="heading-primary-main">The Riff Along</span>
    </h1>
    <%# <span class="heading-primary-sub effect-style">Master your song</span> %>
    <h2 class="heading-primary span loader"><span class="m">M</span><span class="m">A</span><span class="m">S</span><span class="m">T</span><span class="m">E</span><span class="m">R</span><span class="m">&nbsp;</span><span class="m">Y</span><span class="m">O</span><span class="m">U</span><span class="m">R</span><span class="m">&nbsp;</span><span class="m">S</span><span class="m">O</span><span class="m">N</span><span class="m">G</span></h2>

    <%= form_with url: videos_path, method: :get, class: "d-flex" do %>
      <%= text_field_tag :query,
        params[:query],
        class: "form-control rounded-btn-nav",
        placeholder: "Find a song"
      %>
    <% end %>
    <%= submit_tag "Search", class: "btn btn-dark rounded-btn-nav m-4" %>
  </div>
</header>

<div class="home-h2">
  <div class="home-text container">
    <div class="text-title mb-5">
      <h2>It’s easy to practice!</h2>
    </div>
    <div class="text-info mb-5">
      <h5>Search for your favorite song, find the passage you want to play and have fun!</h5>
    </div>
    <div class="text-list">
      <ul>
        <li>Click “Start” to start the looping.</li>
        <li>Click “Stop” to set the limit.</li>
        <li>Save your songs for later.</li>
      </ul>
    </div>

  </div>
  <div>
    <img src="<%= image_path("notebook.png") %>" alt="notebook" class="notebook-image" >
  </div>
</div>

<div class="mt-3" id="">
  <div class="center-page">
    <h2 class="">Save your solos and share with your friends</h2>
    <div class="page-items">
      <div class="page-item">
        <i class="fa-solid fa-paper-plane"></i>
        <h4>Submit your achievements</h4>
        <p class="final-text">Assum suavitate ea vel, vero erat doming cu cum. Zril ornatus sea cu. Pro ex integre pertinax. Cu cum harum paulo legendos, mei et quod enim mnesarchum, habeo affert laoreet sea ei.</p>
      </div>
      <div class="page-item">
        <i class="fa-solid fa-share-nodes"></i>
        <h4>Share with your friends</h4>
        <p class="final-text">Assum suavitate ea vel, vero erat doming cu cum. Zril ornatus sea cu. Pro ex integre pertinax. Cu cum harum paulo legendos, mei et quod enim mnesarchum, habeo affert laoreet sea ei.</p>
      </div>
      <div class="page-item">
        <i class="fa-solid fa-download"></i>
        <h4>Save your solos</h4>
        <p class="final-text">Assum suavitate ea vel, vero erat doming cu cum. Zril ornatus sea cu. Pro ex integre pertinax. Cu cum harum paulo legendos, mei et quod enim mnesarchum, habeo affert laoreet sea ei.</p>
      </div>
    </div>
  </div>
