<header class="header" data-controller="navbar">
  <div class="text-box">
    <h1 class="heading-primary">
      <span class="heading-primary-main">The Riff Along</span>
    </h1>
    <%# <span class="heading-primary-sub effect-style">Master your song</span> %>
    <h2 class="heading-primary span loader"><span class="m">M</span><span class="m">&nbsp;</span><span class="m">A</span><span class="m">&nbsp;</span><span class="m">S</span><span class="m">&nbsp;</span><span class="m">T</span><span class="m">&nbsp;</span><span class="m">&nbsp;</span><span class="m">E</span><span class="m">&nbsp;</span><span class="m">&nbsp;</span><span class="m">R</span><span class="m">&nbsp;</span><span class="m">&nbsp;</span><span class="m">&nbsp;</span><span class="m">&nbsp;</span><span class="m">Y</span><span class="m">&nbsp;</span><span class="m">O</span><span class="m">&nbsp;</span><span class="m">U</span><span class="m">&nbsp;</span><span class="m">R</span><span class="m">&nbsp;</span><span class="m">&nbsp;</span><span class="m">&nbsp;</span><span class="m">&nbsp;</span><span class="m">S</span><span class="m">&nbsp;</span><span class="m">O</span><span class="m">&nbsp;</span><span class="m">N</span><span class="m">&nbsp;</span><span class="m">G</span></h2>

    <%= form_with url: videos_path, method: :get do %>
      <%= text_field_tag :query,
        params[:query],
        class: "form-control rounded-btn-nav",
        placeholder: "Find a song"
      %>
      <%= submit_tag "Search", class: "btn btn-dark rounded-btn-nav m-4" %>
    <% end %>
  </div>
</header>

<div class="demo-function d-flex">
  <div class="demo-items">
    <h2>It’s easy to practice!</h2>
    <h3>Search for your favorite song, find the passage you want to play and have fun!</h3>
    <ul>
      <li>Click “Start” to start the looping.</li>
      <li>Click “Stop” to set the limit.</li>
      <li>Save your songs for later.</li>
    </ul>
  </div>
  <img src="<%= image_path("notebook.png") %> "alt="notebook">
</div>

<div class="mt-3">
  <div class="container center-page">
    <h2 class="mt-5">Save your solos and share with your friends</h2>
    <div class="page-items">
      <div class="page-item">
        <i class="fa-solid fa-paper-plane"></i>
        <h4>Submit your achievements</h4>
        <p class="final-text"> Conquer iconic guitar virtual patches as you complete your loops, like Jimi Hendrix's famous Fender Stratocasters!</p>
      </div>
      <div class="page-item">
        <i class="fa-solid fa-share-nodes"></i>
        <h4>Share with your friends</h4>
        <p class="final-text">Mastered your favorite song and want to share it with your friends? On The RiffAlong you can send the loops you've created to other musicians!</p>
      </div>
      <div class="page-item">
        <i class="fa-solid fa-download"></i>
        <h4>Save your solos</h4>
        <p class="final-text">Do you want to continue practicing at another time or another day? Save your loops to The RiffAlong and your learning can take as long as it takes!</p>
      </div>
    </div>
  </div>
