.container h1 {
  color: $purple;
}

.container h2 {
  font-family: $headers-font;
  color: $purple;
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 16px;
  margin-bottom: 20px;
}


// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }
}

.card-folder {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 17px;
}

.card-folder > img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.card-folder h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-folder .card-folder-infos {
  padding: 16px;
  display: flex;
  gap: 12px;
}

.card-folder-infos .card-folder-user {
  position: absolute;
  right: 16px;
  top: -20px;
  width: 40px;
}

.card-music-title:hover h2 {
  color: $light-purple;
}


//Achievements folders

.achievements-cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 80px;
  margin-bottom: 20px;
  border-bottom: 5px;
}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .achievements-cards {
    grid-template-columns: 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .achievements-cards {
    grid-template-columns: 1fr 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .achievements-cards {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .achievements-cards {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }
}

.achievements-card-folder {
  overflow: hidden;
  background: $purple;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  width: 100%;
  border-radius: 17px;
  opacity: 0.5;
  filter: alpha(opacity=50);
}

.achievements-card-folder > img {
  height: 200px;
  width: 100%;
  object-fit: contain;
  background-color: #ffffff;
}

.achievements-card-folder h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.achievements-card-folder-infos p {
  margin-top: 0;
  margin-bottom: 0rem;
}

.achievements-card-folder-infos {
  font-size: 16px;
  text-align: center;
}

.achievements-card-folder .achievements-card-folder-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.achievements-card-folder-infos .achievements-card-folder-user {
  position: absolute;
  right: 16px;
  top: -20px;
  width: 40px;
}
