.index-card h1 {
  color: #580090;
  margin: 40px 0px;
}

.card-trip-index {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 17px;
  text-align: center;
}

.card-trip-index > img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.card-trip-index h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
  color: #580090;
  margin-top: 10px;
  margin: 15px 0px;
}

.card-trip-index p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
}


.card-trip-index .card-trip-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.card-trip-infos-index a {
  color: #580090;
  text-decoration: none;
}

.card-trip-infos-index a:hover {
  color: #9d00ff;;
}

.card-trip-infos-index .card-trip-user {
  position: absolute;
  right: 16px;
  top: -20px;
  width: 40px;
}



.cards-index {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .cards-index {
    grid-template-columns: 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .cards-index {
    grid-template-columns: 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .cards-index {
    grid-template-columns: 1fr 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .cards-index {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .cards-index {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
