.fa-trash {
  color: $purple;
  font-size: 14px;
}

.fa-trash:hover{
  color: $light-purple;
}

.fa-pen-to-square {
  color: $purple;
  font-size: 16px;
}

.fa-trophy, .fa-download, .fa-share-nodes {
  color: #580090;
  font-size: 50px;
  margin-bottom: 20px;
}
