.navbar-lewagon {
  justify-content: space-between;
  background: rgb(0, 0, 0);
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.form-nav{
  border-radius: 15px 0 0 15px;
  padding: 10px 40px;
}

.btn-form-nav{
  border-radius: 0 15px 15px  0;
  padding: 2px 20px;
}

.rounded-btn-nav {
  padding: 10px 40px;
  border-radius: 50px;

}
