.navbar-lewagon {
  justify-content: space-between;
  position: fixed;
  z-index: 1000;
  width: 100%;
  top: 0;
  height: 72px;
}

.navbar-bg {
  background: rgb(0, 0, 0);
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.form-nav{
  border-radius: 50px;
  padding: 10px 40px;
  width: 600px;
}

.form-control {
  padding: 4px 25px;
}

.btn-form-nav{
  border-radius: 0 15px 15px  0;
  padding: 2px 20px;
}

.rounded-btn-nav {
  padding: 5px 25px;
  border-radius: 25px;
}


.page-header {
  font-size: 15px;
  color: aliceblue;
  justify-content: center;
  align-items: center;
  margin-bottom: 0;

}

.navbar-brand {
  padding-left: 130px;
}

.font-color{
  color: #7106b3;
}

.font-font {
  font-family: "poppins";
}

.nav-item {
  padding-right: 130px;
}



