.navbar-lewagon {
  justify-content: space-between;
  position: fixed;
  z-index: 1000;
  width: 100%;
  top: 0;
  height: 72px;
}

.navbar-bg {
  background: rgb(0, 0, 0);
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.form-nav{
  border-radius: 50px;
  padding: 10px 40px;
  width: 600px;
}

.form-control {
  padding: 4px 25px;
}

.btn-form-nav{
  border-radius: 0 15px 15px  0;
  padding: 2px 20px;
}

.rounded-btn-nav {
  padding: 5px 25px;
  border-radius: 25px;
}


.page-header {
  font-size: 15px;
  color: aliceblue;
  justify-content: center;
  align-items: center;
  margin-bottom: 0;

}

.navbar-brand {
  padding-left: 130px;
}

.font-color{
  color: #7106b3;
}

.font-font {
  font-family: "Alata";
  font-size: 2rem;
}

.nav-item {
  padding-right: 130px;
}

@media(max-width:1300px){
  .nav-item{
    padding-right: 0;
  }
}

@media(max-width:992px){
  .form-nav{
    width: 400px;
  }

  .navbar-brand{
    padding-left: 20px;
  }
}


@media (max-width: 768px) {
  .navbar-dark{
    position:fixed;
    right:20px
  }

  .navbar-brand {
    padding-left: 0;
  }

  .container-fluid > form{
    flex-grow: 1;
  }

  .navbar > .container-fluid{
    justify-content: flex-start;
  }

  .form-nav{
    width: 80%;
  }
}
