.loop-active{
  background-color: #ff0000;
}

.loop-active:hover{
  background-color: #f35252;
}

.loop-active:focus{
  background-color: #f35252;
}

.focus-btn:focus {
  background-color: rgba(163, 26, 249, 0.126)
}



#video-container div p {
  color: #000000;
}


.height-test {
  height: 360px;
  background-color: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 50px;
  margin-left: 60px;
}

td.container-td > div {
  width: 100%;
  height: 100%;
  overflow:hidden;
}

td.container-td {
  height: 10px;
}

.font-color {
  color: #580090;
}


.table-striped > tbody > tr:nth-child(odd) {
  background-color:  rgba(163, 26, 249, 0.123);
  border-radius: 70px;
}

.line-active{
  background-color:#5900909a !important
}
