.loop-active{
  background-color: #ff0000;
}

.loop-active:hover{
  background-color: #f35252;
}

.loop-active:focus{
  background-color: #f35252;
}

.focus-btn:focus {
  background-color: rgba(163, 26, 249, 0.126)
}

.focus-focus {
  background-color: rgba(0, 0, 0, 0.571)
}

.focus-focus:active {
  background-color:  #f35252;
}


#video-container div p {
  color: #000000;
}


.height-test {
  height: 360px;
  background-color: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 30px;

}

td.container-td > div {
  width: 100%;
  height: 100%;
  overflow:hidden;
}

td.container-td {
  height: 10px;
}

.font-color {
  color: #580090;
}


.table-striped > tbody > tr:nth-child(odd) {
  background-color:  rgba(163, 26, 249, 0.123);
  border-radius: 70px;
}

.line-active{
  background-color:#5900909a !important;
  border-radius: 17px 0 0 17px;
}

#player {
  border-radius: 30px;
  width: 95%;
}



.border-list {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 50px;
  width: 105%;
  padding: 40px;
}

.update-btn {
  text-align: end;
  align-items: flex-end;
  margin-top: 23px;
  margin-right: 25px;
}

.master-border {
  border-radius: 17px 0 0 17px;
}

.time-border {
  border-radius: 0px 17px 17px 0px;
}

input[type="checkbox" i] {
  background-color: #580090;
  // width: px;
  // height: 25px;
}
